@import '../../style/variables';

@import "firstLocation/style";
@import "secondLocation/style";

.location {
  position: relative;
  border: 5px solid black;
  //position: absolute;
  //top: 0;
  //right: 0;
  //left: 0;
  //bottom: 0;

  &--mask {
    pointer-events: none;
    z-index: 700;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-filter: drop-shadow( -3px -3px 3px $white);
    filter: drop-shadow( -3px -3px 3px $white);
  }
}