@import "../../style/variables";
@import "../../style/classes";

.task-list {
  margin-top: 20px;

  &--empty {
    color: $white;
  }

  &--item {
    @extend %item;
    display: flex;
    padding: 0;
  }

  &--item-actived {
    @extend %item-hover;
  }

  &--status,
  &--name,
  &--index {
    padding: 10px;
  }

  &--status {
    font-weight: bold;
  }
}