@import '../../style/variables';
@import '../../style/classes';

.conversation {
  @extend %modal-class;
  display: flex;
  flex-wrap: wrap;

  &--content {
    flex-basis: 75%;
    padding-right: 5%;
  }

  &--text {
    color: $yellow;
    font-size: 18px;

    span {
      color: $white-light;
      font-size: 15px;
    }
  }

  &--answers {
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }

  &--answer {
    display: flex;
    margin-bottom: 10px;
  }

  &--index-answer {
    color: $white-light;
    padding-top: 10px;
    padding-right: 10px;
  }

  &--text-answer {
    @extend %item;
  }

  &--avatar {
    flex-basis: 25%;

    & > img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &--hr {
    flex-basis: 100%;
    border-color: $yellow;
  }

  &--name {
    margin: 10px 0;
    font-size: bold;
    font-weight: bold;
    color: $white;
    text-align: center;
  }

  &--panel {
    display: flex;
    justify-content: flex-end;
    flex-basis: 100%;

    & > button {
      box-shadow: none;
      border: none;
      outline: none;
      width: 60px;
      height: 60px;
      background: transparent;
      cursor: pointer;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  &--button-disabled {
    opacity: .3;
    pointer-events: none;
  }

  &--bg {
    @extend %modal-bg-class;
  }
}